{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('test') }}">Test Api</a>
    </div>
{% endblock %}
