{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
    <h1>All types : </h1>
    {% for category in categories %}
        <div>
            <h2>{{ loop.index }} / Category : {{ category.name }}</h2>
            <a href="{{ path("category_show", { categoryName: category.name }) }}">See more</a>
        </div>
    {% else %}
        No category found.
    {% endfor %}
{% endblock %}
