{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <div class="bloc-container">
        <div class="blocs1 box-1"><img src="{{ asset('/images/dressing.jpg') }}" alt="dressing" width="800px"/></div>
    </div>
    <div class="bloc-picture">
        <div class="blocs"><img src="{{ asset('/images/dress.jpg') }}" alt="dress" height="400px"/></div>
        <div class="blocs"><img src="{{ asset('/images/mirror.jpg') }}" alt="mirror" height="400px"/></div>
        <div class="blocs"><img src="{{ asset('/images/dress.jpg') }}" alt="dress" height="400px"/></div>
    </div>

{% endblock %}
