@import "~bootstrap/scss/bootstrap";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import 'variables.scss';
@import 'homepage.scss';

.form-register {
  margin-top : 8rem;
}

p, h1, h2, h3, h4, a {
  font-family: Roboto;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
}

a {
  text-align: center;
  color: #9c4646;

}

ul {
  list-style-type:none;
}