$theme-colors: (
        "light": #FFFFFF,
        "dark": #000000,
        "primary": #c1875e,
        "secondary": #9c4646,
        "blueish":#88c8ce,
        "grey": #F5F5F5,
);

$font-family-base: 'Roboto';

$enable-gradients: true;
